html {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: #f4dfd9;
}
a:hover {
    color: #f4dfd9;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
}

.navbar-toggler {
    background-color: #f4dfd9;
}
.navbar-toggler-icon {
    width: 25px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

header {
    background-color: #5d4234;
}

body {
    background-color: #f4dfd9;
}



.footer {
    background-color: transparent;
    position: relative;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
.table .thead-dark th {
    color: #f4dfd9;
    background-color: #9f7f61;
    border: none;
}