@model IEnumerable<App.ViewModels.ClienteViewModel>

@{
    ViewData["Title"] = "Lista de Clientes";
}

<h6>@ViewData["Title"]</h6>

<p>
    <a class="btn btn-info btn-sm" asp-action="Create">Novo Cliente</a>
</p>


<partial name="_ListaClientes"/>
